<!-- views/partials/navbar.ejs -->
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/blog">Blog</a>
        <ul>
          <li><a href="/blog/general">General</a></li>
          <li><a href="/blog/women">Women</a></li>
          <li><a href="/blog/children">Children</a></li>
          <li><a href="/blog/lgbtqia">LGBTQIA+</a></li>
        </ul>
      </li>
      <li><a href="/engage">Engage</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </nav>
  