<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Freedom Watch</title>
  <meta content="Freedom Watch- Human Rights Blog" name="description">
  <meta content="freedom watch, human rights, sri lanka, lgbtq" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo1.png" rel="icon">
  <link href="/img/logo1.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    /* Additional styles */

    

    
    .blog-post {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
    }
    .blog-post:hover {
        transform: translateY(-5px);
    }
    .blog-post img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 150px;
    }
    .blog-post-content {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .blog-post h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .blog-post p {
        font-size: 0.9rem;
        color: #666;
        line-height: 1.6;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .read-more {
        margin-top: 10px;
        text-decoration: none;
        color: white;
        background: linear-gradient(45deg, #f519af, #be3ff0);
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
    }

    .read-more:hover {
        background: linear-gradient(45deg, #007bff, #3fceed);
        color: white;
    }
    

</style>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Freedom Watch</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home<br></a></li>
          
          
          <li class="dropdown"><a href=""><span>Blog</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              
              <li><a href="/blog/general">General</a></li>
              <li><a href="/blog/women">Women</a></li>
              <li><a href="/blog/children">Children</a></li>
              <li><a href="/blog/lgbtqia">LGBTQIA+</a></li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/engage">Engage</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

        <div class="container">
          <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
              <h1 data-aos="fade-up">Freedom Watch<br></h1>
              <p data-aos="fade-up" data-aos-delay="100">Sri Lanka's #1 Human Rights Blog</p>
              <div class="d-flex justify-content-center justify-content-lg-start" data-aos="fade-up" data-aos-delay="200">
                <!-- Add any additional content here -->
              </div>
            </div>
            <div class="col-lg-5 order-lg-2 hero-img text-center">
              <img src="/img/5000.jpg" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
      
      </section><!-- /Hero Section -->
      
      <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Mission<br></h2>
        <p><span>Let's Make The World Amazing</span> <span class="description-title"></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <img src="/img/4000.jpg" class="img-fluid mb-4" alt="">
            
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Our mission is to amplify voices, advocate for justice, and foster awareness of human rights issues in Sri Lanka. Through rigorous reporting, insightful analysis, and community engagement, we strive to empower marginalized communities, challenge systemic injustices, and promote a society where every individual's rights are respected and protected.


              </p>
              

              <div class="position-relative mt-4">
                <img src="/img/4001.jpg" class="img-fluid" alt="">
                
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->
    </main>


    <footer id="footer" class="footer dark-background">

    

      <div class="container copyright text-center mt-4">
        <p>© <span>Freedom Watch</span> <strong class="px-1 sitename">- Chamath Theekshana -</strong> <span>Sri Lanka 2024</span></p>
        <div class="credits">
         
          
        </div>
      </div>
  
    </footer>
  
    <!-- Scroll Top -->
    <a href="" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Preloader -->
    <div id="preloader"></div>
  
    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Main JS File -->
    <script src="/js/main.js"></script>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GRPFVT2KMS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GRPFVT2KMS');
</script>
  
  </body>
  
  </html>
